<h2>Categorias</h2>
<div class="row">
    
    <form name="form" role="form" class="nav-bar" novalidate>
        <div class="form-group col-sm-10">
            <input type="text" ng-model="vm.categoria.descricao" class="form-control" placeholder="Nova categoria..." required>
        </div>
        <button type="submit" class="btn btn-primary col-sm-2" ng-click="vm.save()" ng-disabled="form.$invalid">Cadastrar</button>
    </form>

</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="item in vm.lista">
            <tr>
                <td>{{item.descricao}}</td>
                <td class="text-right">
                    <a class="btn btn-link" ng-click="vm.edit($index)">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></i>
                    </a>
                    <button type="button" class="btn btn-link" ng-click="vm.remove(item)" title="Remover">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
